.bodyWrap{
    background-color: #cccccc;
    display: flex;
    height: auto;
    .navs{
        flex: 1;
    }
   .content{
       flex: 6;
       background-color: blue;
   } 
   h1{
       color: white;
   }
}